
.layout-rodape {
  padding: 40px 0;

  background-color: #484848;

  color: #fff;
  text-align: center;
}



.layout-cabecalho{
	border-bottom: 1px solid #ccc;

}
.layout-rodape{
  margin-top: 18%;
}
